<plugin>
	<nom><multi>[fr]CKEditor pour SPIP[en]CKEditor for SPIP[ar]CKEDITOR &#1604; SPIP</multi></nom>
	<auteur>Auteurs : [Fr&#233;d&#233;ric Bonnaud->mailto:fred@lea-linux.org], [Mehdi Cherifi (Superyms)->mailto:superyms@gmail.com], [Emmanuel Dreyfus->mailto:manu@netbsd.org]</auteur>
	<version>0.16.18</version>
	<etat>stable</etat>
	<description>
		<h3><multi>[fr]Int&#233;gration de l'&#233;diteur WYSIWYG CKEditor &#224; SPIP 2.0.9+[en]Integration of WYSIWYG editor CKEditor with SPIP 2.0.9+[ar]&#1578;&#1603;&#1575;&#1605;&#1604; CKEditor &#1606;&#1575;&#1588;&#1585; &#1604;SPIP 2.0.9+ et SPIP 3.0.4+</multi></h3>
<multi>
[fr]
		Cette int&#233;gration de l'&#233;diteur CKEditor est non invasive (ie: elle ne modifie pas le code de SPIP). Elle utilise le m&#233;chanisme des pipelines (ici, on utilise le pipeline : <code>editer_contenu_objet</code>). La version de CKeditor utilis&#233;e est la {{3.6.6.2}}.

		On peut configurer la fa&#231;on dont s'affiche l'&#233;diteur avec <a href='?exec=cfg&cfg=ckeditor'>CFG</a>.

		Le mode d'&#233;dition de SPIP reste disponible, et on peut configurer le plugin pour que ce mode soit le mode d'&#233;dition par d&#233;faut.

		N&#233;cessite : spip-bonux et CFG

		Les icones des onglets de configuration sont cr&#233;&#233;es par [Patricia Clausnitzer->http://pc.de/icons/pc.de-berlin-icon-pack.zip].

[en]
		This integration of the editor CKEditor is noninvasive (it does not alter the SPIP code). It uses the mechanism of pipelines (here we use the pipeline: <code>editer_contenu_objet</code>). The version of CKeditor used is {{3.6.6.2}}. 

		You can configure the way you view/use the editor with <a href='?exec=cfg&cfg=ckeditor'>CFG</a>.

        The editing mode SPIP still available, and you can configure the plugin so that this mode is edit mode by default.		
		
		Need/Require : spip-bonux and CFG

[ar]
&#1607;&#1584;&#1575; &#1575;&#1604;&#1578;&#1603;&#1575;&#1605;&#1604; &#1605;&#1606; CKEditor &#1575;&#1604;&#1606;&#1575;&#1588;&#1585; &#1607;&#1608; &#1605;&#1608;&#1587;&#1593; &#40;&#1571;&#1610; : &#1604;&#1575; &#1578;&#1594;&#1610;&#1610;&#1585; &#1585;&#1605;&#1586; SPIP). &#1601;&#1573;&#1606;&#1607; &#1610;&#1587;&#1578;&#1582;&#1583;&#1605; &#1570;&#1604;&#1610;&#1577; &#1605;&#1606; &#1582;&#1591;&#1608;&#1591; &#1575;&#1604;&#1571;&#1606;&#1575;&#1576;&#1610;&#1576;
_ &#1608;&#1607;&#1606;&#1575; &#1606;&#1587;&#1578;&#1582;&#1583;&#1605; &#1575;&#1604;&#1582;&#1591; : <code>editer_contenu_objet</code>

&#1575;&#1604;&#1606;&#1587;&#1582;&#1577; &#1575;&#1604;&#1605;&#1587;&#1578;&#1582;&#1583;&#1605;&#1577; &#1607;&#1610; CKeditor {{3.6.6.2}}. 

&#1610;&#1605;&#1603;&#1606;&#1603; &#1590;&#1576;&#1591; &#1608;&#1580;&#1607;&#1577; &#1606;&#1592;&#1585; &#1575;&#1604;&#1605;&#1581;&#1585;&#1585; &#1576;&#1575;&#1587;&#1578;&#1582;&#1583;&#1575;&#1605; <a href='?exec=cfg&cfg=ckeditor'>CFG</a>.

&#1575;&#1604;&#1581;&#1575;&#1580;&#1577; / &#1578;&#1588;&#1578;&#1585;&#1591; : spip-bonux &#1608; CFG
</multi>		

{{Licence :}} [GPLv2->http://www.gnu.org/licenses/old-licenses/gpl-2.0.html]
	</description>
	<categorie>edition</categorie>
	<options>ckeditor_options.php</options>
	<prefix>ckeditor</prefix>

	<bouton id="configurer_ckeditor" parent="configuration">
		<icone>prive/themes/spip/images/ckspip-logo-24.png</icone>
		<titre>CKEditor</titre>
	</bouton>

	<onglet id="configurer_ckeditor" parent="configurer_ckeditor">
		<icone>prive/themes/spip/images/cke24-basique.png</icone>
		<titre>ckeditor:ckeditor_p1</titre>
	</onglet>
	<onglet id="configurer_ckeditor_p2" parent="configurer_ckeditor">
		<icone>prive/themes/spip/images/cke24-toolbars.png</icone>
		<titre>ckeditor:ckeditor_p2</titre>
	</onglet>
	<onglet id="configurer_ckeditor_p3" parent="configurer_ckeditor">
		<icone>prive/themes/spip/images/cke24-avance.png</icone>
		<titre>ckeditor:ckeditor_p3</titre>
	</onglet>
	<onglet id="configurer_ckeditor_p4" parent="configurer_ckeditor">
		<icone>prive/themes/spip/images/cke24-imgdoc.png</icone>
		<titre>ckeditor:ckeditor_p4</titre>
	</onglet>
	<onglet id="configurer_ckeditor_p5" parent="configurer_ckeditor">
		<icone>prive/themes/spip/images/cke24-styles.png</icone>
		<titre>ckeditor:ckeditor_p5</titre>
	</onglet>
	<onglet id="configurer_ckeditor_p6" parent="configurer_ckeditor">
		<icone>prive/themes/spip/images/cke24-modeles.png</icone>
		<titre>ckeditor:ckeditor_p6</titre>
	</onglet>
	<onglet id="configurer_ckeditor_p7" parent="configurer_ckeditor">
		<icone>prive/themes/spip/images/cke24-styles.png</icone>
		<titre>ckeditor:ckeditor_p7</titre>
	</onglet>
	<onglet id="configurer_ckeditor_p8" parent="configurer_ckeditor">
		<icone>prive/themes/spip/images/cke24-spipmodeles.png</icone>
		<titre>ckeditor:ckeditor_p8</titre>
	</onglet>


	<pipeline>
		<nom>editer_contenu_objet</nom>
		<inclure>ckeditor_fonctions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>ckeditor_fonctions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>ckeditor_fonctions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>saisies_autonomes</nom>
		<inclure>ckeditor_fonctions.php</inclure>
	</pipeline>

	<icon>images/ckspip-logo.png</icon>
	<necessite id="SPIP" version="[2.0.9;3.0.99]" />
	<necessite id='saisies' version='[1.27.0;]' />
	<necessite id='spip_bonux' version='[1.8.2;]' />
	<necessite id='cfg' version='' />
	<necessite id='YAML' version='[1.5.1;]' />
	<utilise id='iterateurs' version='[0.2.4;]' />
	<utilise id='crayons' version='[1.9.4;]' />
	<necessite id='lib:ckeditor' src='http://download.cksource.com/CKEditor/CKEditor/CKEditor%203.6.6.2/ckeditor_3.6.6.2.zip' />
	<utilise id='lib:html2spip-0.6' src='http://files.spip.org/contribs/html2spip-0.6.zip' />
	<utilise id='lib:kcfinder-2.51' src='http://netcologne.dl.sourceforge.net/project/kcfinder/KCFinder/2.51/kcfinder-2.51.zip'/>
	<utilise id="couteau_suisse" version="[1.8.0.0;]" />
	<install>inc/ckeditor_install.php</install>
</plugin>