# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

application/configs/applicationNL.ini

application/configs/configNL.php

application/configs/applicationGapai.ini

application/configs/configGapai.php

bdd/import/ISTEGlobal2015.csv

bdd/iste.sql

bdd/iste_bdd.sql

bdd/import/146169_1409.XLS

bdd/import/ISTEGlobal2015-DtsAuteursWiley.csv

bdd/import/NBNEXPORT.CSV

bdd/import/ISTEGlobal2015-ISTEedition.csv

bdd/import/ISTEGlobal2015-ISTEeditiontest.csv

bdd/import/ISTEGlobal2015-ISTEelsevier.csv

bdd/import/ISTEGlobal2015-WileyBase.csv

bdd/import/ISTEGlobal2015test.csv

bdd/iste_bdd.mwb.bak

bdd/iste_bdd.mwb.bak

bdd/iste.sql.zip

bdd/isteDataTest.sql

data/_/146169_1409.XLS

data/_/NBNEXPORT (1).CSV

data/_/NBNEXPORT.CSV

data/_/papi-ISI.png

data/_/thumbnail/papi-ISI.png

data/import_0/146169_1409.XLS

data/import_0/NBNEXPORT (1).CSV

data/import_0/NBNEXPORT (2).CSV
