# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

application/configs/applicationNL.ini

application/configs/configNL.php

application/configs/applicationGapai.ini

application/configs/configGapai.php

bdd/import/

bdd/iste.sql

bdd/iste_bdd.sql

bdd/iste_bdd.mwb.bak

bdd/iste.sql.zip

bdd/isteDataTest.sql

bdd/istePreHisto.sql

bdd/isteProcessus.sql

bdd/isteDataTest.sql

data/

tmp/
