# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#vscode
.vscode/launch.json
#config files
application/configs/application.ini
application/configs/config.php


# Legacy ZF1
demos/
extras/documentation

application/configs/applicationNL.ini

application/configs/configNL.php

application/configs/applicationGapai.ini

application/configs/configGapai.php


bdd/import/

bdd/iste.sql

bdd/iste_bdd.sql

bdd/iste_bdd.mwb.bak

bdd/iste.sql.zip

bdd/isteDataTest.sql

bdd/istePreHisto.sql

bdd/isteProcessus.sql

bdd/isteDataTest.sql

data/

tmp/

local/

bdd/infosAuteur.sql

bdd/isteImport1.sql

bdd/isteImport2.sql

bdd/isteImport3.sql

bdd/isteImportCorrect.sql

bdd/isteImportFinal.sql

bdd/isteMin.sql

bdd/isteTest1.sql

bdd/spip_iste.sql

local/cache-vignettes

local/cache-js

local/cache-css

local/cache-gd2

local/cache-code


application/configs/applicationInfomaniak.ini

application/configs/configInfomaniak.php

bdd/iste_prevision.sql

bdd/isteImportFinal1.sql

bdd/istePreImport.sql

bdd/isteTest2.sql

library/odtphp/.svn/all-wcprops

library/odtphp/.svn/entries

library/odtphp/.svn/format

library/odtphp/.svn/text-base/odf.php.svn-base

library/odtphp/.svn/text-base/Segment.php.svn-base

library/odtphp/.svn/text-base/SegmentIterator.php.svn-base

library/odtphp/zip/.svn/entries

library/odtphp/zip/.svn/format

library/odtphp/zip/.svn/text-base/PclZipProxy.php.svn-base

library/odtphp/zip/.svn/text-base/PhpZipProxy.php.svn-base

*.svn-base

library/odtphp/zip/pclzip/.svn/all-wcprops

library/odtphp/zip/pclzip/.svn/entries

library/odtphp/zip/pclzip/.svn/format

bdd/hrm_books.php

bdd/iste_prod1.sql

bdd/isteImportFinal2.sql

bdd/isteImportFinal3.sql

bdd/lyor_iste_admin_dump_sql_1441520780.sql.gz

bdd/nexlinkISTE.sql

bdd/spip_istePreImport.sql

IMG/

admin/test.pdf

bdd/iste_prod10.sql

bdd/iste_prod111.sql

bdd/iste_prod12.sql

bdd/iste_prod13.sql

bdd/iste_prod7.sql

bdd/iste_prod8.sql

bdd/isteProdCor1.sql

bdd/iste_prod9.sql

bdd/isteProdCor2.sql

bdd/isteProdCor3.sql

bdd/isteProdCor4.sql

bdd/isteProdCor5.sql

bdd/isteProdCor6.sql

bdd/isteProdCor7.sql

IMG/distant/csl/principalxml369a.csl

IMG/distant/csl/principalxml369a.csl.md5.txt

IMG/distant/csl/principalxml369a.csl

IMG/distant/csl/principalxml369a.csl.md5.txt

bdd/iste_prod14.sql

bdd/iste_prod15.sql

bdd/iste_prod16.zip

bdd/iste_prod17.zip

bdd/iste_prod18.zip

bdd/isteProdCor8.sql

bdd/isteProdCor8.zip

bdd/iste_prod20.zip

bdd/iste_prod21.zip

bdd/iste_prod22.zip

bdd/iste_prod23.zip

bdd/listeContrat.csv

bdd/listeContrat.xlsx

bdd/listeContratDoublons.xlsx

bdd/listeContratDoublons.csv

bdd/export/exportblancs.csv

bdd/iste_prevision.zip

bdd/iste_prod24.zip

bdd/iste_prod25.zip

bdd/iste_prod25c.zip

bdd/lyor_iste_admin.sql.zip

config/connect.php
