@font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: normal;
    src: local("Lora"), url("http://themes.googleusercontent.com/static/fonts/lora/v5/nAKwuw6_dIh5kwvpj3ShNfesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #736E6E;
    font: 12px/20px Arial,sans-serif;
    margin: 0;
    padding: 0;
}
form {
    display: block;
    margin: 0;
    padding: 0;
}
blockquote {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    font-style: italic;
    margin: 1em 0;
    padding: 1em;
}
blockquote em {
    font-style: normal;
}
blockquote blockquote {
    background: none repeat scroll 0 0 #EFEFEF;
    border-color: #CCCCCC;
    font-style: normal;
}
blockquote blockquote em {
    font-style: italic;
}
blockquote blockquote blockquote {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC;
    font-style: italic;
}
blockquote blockquote em {
    font-style: normal;
}
iframe {
    display: block;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 1em 0 1em;
    padding: 0;
}

h4 {
    margin: 0.2em 0 0.2em;
    padding: 0;
}

p {
    display: block;
    margin: 1em 0 1em 0;
    padding: 0;
}
img {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 4px;
}
a{
    outline: medium none;
}
a:link{
    color: #283a59;
    text-decoration: none;
}
a:visited{
	color: #283a59;
}
a:hover, a:active {
    color: #283a59;
    text-decoration: underline;
}
abbr {
    border: 0 none;
}
input, button, select, option, textarea {
    font: 12px/12px 'Lucida Sans','Lucida Grande',sans-serif;
}
:focus {
    outline: medium none;
}
.no-display {
    display: none;
}
.clear {
    clear: both;
}
img.aligncenter, div.aligncenter {
    display: block;
    margin: 1em auto;
}
img.alignleft, div.alignleft {
    float: left;
    margin: 1em 1em 1em 0;
}
img.alignright, div.alignright {
    float: right;
    margin: 1em 0 1em 1em;
}
.content-area img {
   /* background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;*/
    padding: 6px;
}
.content-area .wp-caption {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;
    padding: 10px 4px 0;
    text-align: center;
}
.content-area .wp-caption a {
    border: 0 none;
}
.content-area .wp-caption img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.content-area .wp-caption p.wp-caption-text {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 5px;
}
.content-area img.wp-smiley {
    border: 0 none;
    border-radius: 0 0 0 0;
    padding: 0;
}
#header-wrap {
    background: url("img/bg-header-wrap.png") repeat-x scroll left top transparent;
    padding: 14px 0 0;
}
#header {
    //height: 116px;
    margin: 0 auto;
    width: 950px;
}
#hometop-wrap {
    margin: 0 0 26px;
}
#hometop {
    margin: 0 auto;
    width: 950px;
}
#middle-wrap {
    margin: 0;
    padding: 24px 0 0;
    background: url("img/bd-footer-wrap.png") repeat-x scroll left top transparent;
}
#middle {
    margin: 0 auto;
    padding: 0 0 20px;
    width: 950px;
    background: url("img/bd-middle-wrap.png") repeat-y scroll 653px 0 transparent;
}
#middle .content-area {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 638px;

}
#middle .sidebar {
    float: right;
    padding: 0;
    width: 280px;
}
.home #middle-wrap {
    background: none repeat scroll 0 50% transparent;
    margin: 0;
    padding: 0;
}
.home #middle {
    background: none repeat scroll 0 50% transparent;
}
#footbar-wrap {
    background: url("img/bd-footer-wrap.png") repeat-x scroll left top transparent;
    margin: 20px 0 0;
    padding: 24px 0 20px;
}
#footbar {
    background: url("img/bg-footbar.png") repeat-y scroll center top transparent;
    margin: 0 auto;
    width: 950px;
}
.home #footbar-wrap {
    background: none repeat scroll 0 50% transparent;
    margin: 0;
    padding: 20px 0;
}
#footer-wrap {
    background: url("img/bd-footer-wrap.png") repeat-x scroll left top transparent;
    color: #DCDCDC;
    padding: 24px 0 20px;
    margin-top:20px;
}
#footer {
    margin: 0 auto;
    width: 950px;
}
.widget_tweets .padd-twitter-timestamp {
    display: block;
}
.widget_tweets .follow {
    background: url("img/icon-sn-twitter-bird.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 11px;
    font-style: italic;
    padding: 0 0 0 25px;
}
.widget_ads .ads-area {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 9px;
}
.widget_ads .ads {
    display: block;
    float: left;
    height: 125px;
    margin: 0 10px 10px 0;
    width: 125px;
}
.widget_ads .ads-2, .widget_ads .ads-4 {
    margin-right: 0;
}
.widget_ads .ads-3, .widget_ads .ads-4 {
    margin-bottom: 0;
}
.widget_ads .ads img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
table#wp-calendar {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    width: 100%;
}
table#wp-calendar caption {
    font-weight: bold;
    padding: 5px;
}
table#wp-calendar th, table#wp-calendar td {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    padding: 5px;
}
table#wp-calendar td#prev {
    border-left: 0 none;
    border-right: 0 none;
}
table#wp-calendar td.pad {
    border-left: 0 none;
    border-right: 0 none;
}
.widget_latest .thumbnail {
    display: block;
    float: left;
}
.widget_latest .thumbnail img {
    background: url("img/bg-thumbnail-recent-posts.png") no-repeat scroll center center transparent;
    border: 0 none;
    margin: 0;
    padding: 5px;
}
.widget_latest .post-title {
    display: block;
    font-weight: bold;
    margin: 0 0 5px 93px;
}
.widget_latest .content {
    display: block;
    margin: 0 0 5px 93px;
}
.widget_latest .read-more {
    background: none repeat scroll 0 50% transparent;
    display: block;
    height: 19px;
    margin: 0 0 0 93px;
    padding: 0;
}
.widget_latest .read-more a {
    margin: 0;
}
.widget_latest .read-more a {
    background: none repeat scroll 0 0 #9F9F9F !important;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
    display: block;
    float: left;
    font: 11px/19px 'Lora',serif;
    height: 19px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    width: 68px;
}
.widget_latest .read-more a:hover {
    text-decoration: underline;
}
.popular-posts p {
    border: 1px solid #DCDFE5;
    display: block;
    margin: 0;
    padding: 0;
}
.popular-posts ul li {
    min-height: 57px;
    padding: 10px;
}
.popular-posts img {
    border: 0 none;
    float: left;
    height: 57px;
    padding: 0;
    width: 57px;
}
.popular-posts a span.wpp-post-title {
    display: block;
    font: bold 12px/16px Arial,sans-serif;
    margin: 0 0 0 67px;
}
.popular-posts a:hover span.wpp-post-title {
    text-decoration: underline;
}
.popular-posts span.post-stats {
    color: #666666;
    display: block;
    font: 10px/12px Arial,sans-serif;
    margin: 0 0 0 67px;
    text-transform: none;
}
.popular-posts p {
    padding: 10px;
}
#header .widget h3 {
    display: none;
}
#header .masthead {
    float: left;
}
#header .title {
    display: block;
    margin: 0;
    padding: 0;
}
#header #nom_site_spip a {
    background: url("img/site-title.png") no-repeat scroll left center transparent;
    display: block;
    font-family: 'Lora',serif;
    font-size: 40px;
    height: 116px;
    margin: 0;
    text-indent: -999999px;
    width: 314px;
}
#header .description {
    display: none;
}
#header .widget_socialnet {
    height: 16px;
    padding: 6px 0 0;
}
#header .widget_socialnet ul {
    float: right;
}
#header .widget_search {
    height: 24px;
    padding: 9px 0 0;
}
#header .widget_search form {
    float: right;
}
#header .mainmenu .title {
    display: none;
}
.mainmenu {
    height: 36px;
    padding: 12px 0 0;
}
.mainmenu h3 {
    display: none;
}
.mainmenu ul {
    display: block;
    float: right;
    height: 36px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.mainmenu ul li {
    display: block;
    float: left;
    height: 36px;
    margin: 0 0 0 30px;
    padding: 0;
}
.mainmenu ul ul {
    border: 1px solid #B0B0B0;
    border-radius: 3px 3px 3px 3px;
    display: none;
    float: none;
    height: auto;
    margin: 0 0 0 -15px;
    padding: 5px 0;
    position: absolute;
    width: 180px;
    z-index: 9999999;
}
.mainmenu ul li a {
    display: block;
    height: 25px;
    margin: 0;
    padding: 0 5px;
    position: relative;
}
.mainmenu ul li:hover ul, .mainmenu ul li.hover ul {
    display: block;
    float: none;
    z-index: 999999;
}
.mainmenu ul ul li {
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}
.mainmenu ul ul li a {
    float: none;
    height: auto;
    padding: 5px 20px;
    width: auto;
}
.mainmenu ul ul ul {
    margin: -32px 0 0 170px;
}
.mainmenu ul ul {
    background: none repeat scroll 0 0 #FFFFFF;
}
.mainmenu ul li a {
    background: url("img/bd-menubar-item-1.png") repeat-x scroll 0 50px transparent;
    color: #000000;
}
.mainmenu ul li:hover a, .mainmenu ul li.hover a, .mainmenu ul li.on a, .mainmenu ul li.current_page_item a {
    background-position: 0 33px;
    color: #000000;
}
.mainmenu ul li:hover ul li a, .mainmenu ul li.hover ul li a {
    color: #000000;
}
.mainmenu ul li:hover ul li:hover a, .mainmenu ul li.hover ul li.hover a, .mainmenu ul li:hover ul li.current-menu-item a, .mainmenu ul li.hover ul li.current-menu-item a, .mainmenu ul li:hover ul li.current_page_item a, .mainmenu ul li.hover ul li.current_page_item a {
    color: #B0B0B0;
}
.mainmenu ul li:hover ul li:hover ul li a, .mainmenu ul li.hover ul li.hover ul li a {
    color: #000000;
}
.mainmenu ul li:hover ul li:hover ul li:hover a, .mainmenu ul li.hover ul li.hover ul li.hover a, .mainmenu ul li:hover ul li:hover ul li.current-menu-item a, .mainmenu ul li.hover ul li.hover ul li.current-menu-item a, .mainmenu ul li:hover ul li:hover ul li.current_page_item a, .mainmenu ul li.hover ul li.hover ul li.current_page_item a {
    color: #B0B0B0;
}
.mainmenu ul li {
    font: 12px/36px 'Lora',sans-serif;
}
.mainmenu ul li a {
    text-decoration: none;
}
.mainmenu ul ul li {
    font: 12px/16px 'Lora',sans-serif;
}
.content-title {
    margin: 0;
    padding: 0 0 20px;
}
.content-title h1, .content-title h2 {
    color: #000000;
    display: block;
    font: bold 16px/20px 'Lora',serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.entry .title {
    margin: 0;
    padding: 0 0 20px;
}
.entry .title h1, .entry .title h2 {
    color: #000000;
    display: block;
    font: bold 16px/20px 'Lora',serif;
    margin: 0;
    padding: 0;
}
.page .content {
    padding: 0;
}
.not-found .content {
    padding: 0;
}
.loop {
    margin: 0 0 1px;
}
.loop .entry {
    background: url("img/bd-footer-wrap.png") repeat-x scroll left bottom transparent;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0 0 24px;
    position: relative;
}
.loop .entry .thumbnail {
    float: left;
}
.loop .entry .thumbnail a {
    display: block;
    margin: 0;
    padding: 0;
}
.loop .entry .thumbnail img {
    background: url("img/bg-thumbnail.png") no-repeat scroll left top transparent;
    border: 0 none;
    padding: 5px;
}
.loop .entry .title {
    margin: 0 0 12px;
    padding: 0;
}
.loop .entry .excerpt {
    display: block;
    margin: 0 0 10px 180px;
    padding: 0;
}
.loop .entry .excerpt p {
    display: block;
    margin: 0 0 12px;
    padding: 0;
}
.loop .entry .excerpt ul {
    display: block;
    margin: 0;
    padding: 0;
}
.loop .entry .excerpt ul li {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}
.loop .entry .excerpt ul li.facebook {
    margin-top: 1px;
}
.loop .entry .excerpt ul li a {
    display: block;
    margin: 0;
    padding: 0;
}
.loop .not-found {
    height: auto;
}
.loop .not-found .title {
    margin: 0 0 10px;
}
.content-area-singular .title {
    margin: 0;
    padding: 0;
}
.content-area-singular .title h1 {
    font: 36px/40px 'Lora',serif;
    margin: 0 0 20px;
}
.content-area-singular .content {
    overflow: hidden;
}
.content-area-single .box {
    margin: 0 0 20px;
    padding: 0;
}
.content-area-single .box .title {
    background: url("img/bd-footer-wrap.png") repeat-x scroll left bottom transparent;
    border-top: 0 none;
    margin: 0 0 10px;
    padding: 5px 0 9px;
}
.content-area-single .box .title h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}
.content-area-single .box .title p {
    color: #666666;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
}
.content-area-single .box-share .interior ul {
    display: block;
    height: 32px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.content-area-single .box-share .interior ul li {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}
.content-area-single .box-share .interior ul li a {
    border: 0 none;
    display: block;
    float: left;
}
.content-area-single .box-share .interior ul li a img {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    padding: 0;
}
.content-area-single .box-related .interior {
    overflow: hidden;
}
.content-area-single .box-related .interior img {
    border: 0 none;
    height: 70px;
    padding: 0;
    width: 136px;
}
.content-area-single .box-related .interior ol {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 680px;
}
.content-area-single .box-related .interior ol li {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
    width: 136px;
}
#hometop h2 {
    color: #000000;
    font: bold 16px/20px 'Lora',serif;
    text-transform: uppercase;
}
#hometop .bar {
    float: left;
    margin: 0 26px 0 0;
    overflow: hidden;
    padding: 0;
    width: 218px;
}
#hometop .bar-4 {
    margin: 0;
}
#hometop .bar h3 {
    color: #171717;
    font: 15px/20px 'Lora',serif;
    margin: 0 0 10px;
    text-transform: uppercase;
}
#hometop .bar h3 a {
    color: #171717;
    text-decoration: none;
}
#hometop .bar h3 a:hover {
    text-decoration: underline;
}
#hometop .widget_special h3 {
    background-position: left top;
    background-repeat: no-repeat;
    margin: 0 0 10px;
    padding: 6px 0;
}
#featured-projects-wrap {
    background: url("img/bg-featured-projects-wrap.png") repeat-x scroll left top transparent;
    height: 241px;
    overflow: hidden;
}

ul.liste-items{
	padding-left:0px;
}
ul.liste-items li h3, .cartouche h1, #comments .h2{
    font: 24px/28px 'Lora',serif;
}
ul.liste-items li h3 a, .cartouche h1, #comments .h2{
	color: #000000;
    text-decoration: none;
    font: 26px/29px 'Lucida Grande','Lucida Sans',sans-serif;
    text-transform: uppercase;
}
.liste-items-text{
	float:left;
    margin-left: 6px;
}
.liste-items-artmot{
    display: flex;
}

.home-soustitre{
	display:inline-block;
}
.soustitre{
	color: #000000;
    text-decoration: none;
    font: 16px/18px 'Lucida Grande','Lucida Sans',sans-serif;
    text-transform: uppercase;
}

.home-mot-item{
	float:left;
}

ul.liste-items li h3 a{
    font: 18px/20px 'Lucida Grande','Lucida Sans',sans-serif;
}

.loop-index ul {
    display: block;
    list-style-type: none;
}
.loop-index ul li {
    display: block;
	list-style-type: none;
    margin: 6px;
}
.loop-index ul li img {
    /*background: url("img/bg-thumbnail.png") no-repeat scroll left top transparent;*/
    border: 0 none;
    padding: 0px;
}


.comments-list {
    display: block;
    list-style: none outside none;
    margin: 15px 0 0;
    padding: 0;
}
.comments-list li.comment {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.comments-list li.comment ul.children {
    margin: 0;
    padding: 0 0 0 80px;
}
.comment-box {
    background: url("img/bd-comment-vertical.gif") repeat-y scroll 171px top #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 0 0 10px;
    padding: 10px;
}
.comment-box .comment-author {
    float: left;
    font: 12px/16px 'Lucida Sans','Lucida Grande',sans-serif;
    width: 150px;
}
.comment-box .comment-author .author {
    font-weight: bold;
}
.comment-box .comment-author .author a {
    font-weight: bold;
}
.comment-box .comment-author .comment-avatar {
    float: left;
    margin: 0 10px 0 0;
}
.comment-box .comment-author .comment-avatar img.avatar {
    border: 2px solid #CCCCCC;
    padding: 1px;
}
.comment-box .comment-author .comment-meta .author {
    color: #666666;
}
.comment-box .comment-author .comment-meta .time {
    color: #999999;
    font: 10px/14px 'Lucida Sans','Lucida Grande',sans-serif;
}
.comment-box .comment-author span {
    display: block;
}
.comment-box .comment-details {
    margin: 0 0 0 163px;
    min-height: 100px;
    padding: 0 0 10px 10px;
}
.comment-box .comment-actions {
    font: 10px/18px 'Lucida Sans','Lucida Grande',sans-serif;
    padding: 4px 0;
    text-align: right;
}
.trackbacks-list {
    margin: 0 0 0 3em;
    padding: 0;
}
#reply label {
    display: block;
    padding: 0 0 3px 6px;
}
#reply small {
    color: #666666;
}
#reply input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #000000;
    padding: 5px;
}
#reply textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #000000;
    padding: 5px;
    width: 626px;
}
#reply button {
    background: url("img/button-comments-submit.png") no-repeat scroll left top transparent;
    border: 0 none;
    cursor: pointer;
    height: 29px;
    margin: 0;
    padding: 0;
    width: 99px;
}
#reply button span {
    display: none;
}
#reply .comment-submit {
    text-align: right;
}
#reply .input {
    display: block;
    margin: 0 0 10px;
}
#reply .input-small {
    width: auto;
}
#reply .input-small input {
    width: 300px;
}
#reply .input-name {
    float: left;
}
#reply .input-email {
    float: right;
}
#reply .input-website {
    clear: both;
}
#reply .input-website input {
    width: 626px;
}
ol.comments-list div#reply {
    border: 1px solid #CCCCCC;
    margin: 0 0 10px 80px;
    padding: 10px;
}
ol.comments-list div#reply .input-small {
    width: auto;
}
ol.comments-list div#reply .input-small span {
    margin: 0 10px 0 0;
}
ol.comments-list div#reply .input-small span input {
    width: 97%;
}
ol.comments-list div#reply .input-website span input {
    width: 97%;
}
ol.comments-list div#reply .input-name {
    float: none;
}
ol.comments-list div#reply .input-email {
    float: none;
}
ol.comments-list div#reply textarea {
    width: 97%;
}
div.pagination span, div.pagination a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    color: #EB880E;
    display: block;
    float: left;
    font: 10px/26px 'Lucida Sans','Lucida Grande',serif;
    height: 26px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    text-decoration: none;
}
div.pagination span.pages {
    color: #999999;
}
div.pagination span.pages span.n {
    border: 0 none;
    color: #999999;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
}
div.pagination span.current, div.pagination a:hover, div.pagination a:active {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #999999;
    color: #EB880E;
}
.sidebar h2 {
    display: none;
}
.sidebar .widget {
    color: #666666;
    margin: 0 0 20px;
}
.sidebar .widget .title {
    color: #2E333F;
    display: block;
    font: bold 10px/20px 'Lucida Grande','Lucida Sans',sans-serif;
    margin: 0 0 0.5em;
    padding: 0;
    text-transform: uppercase;
}
.sidebar a {
    color: #397EC2;
}
.sidebar .widget ul {
    border: 1px solid #DCDFE5;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar .widget ul li {
    border-bottom: 1px solid #DCDFE5;
    border-top: 1px solid #DCDFE5;
    margin: -1px 0;
    padding: 5px 18px;
}
.sidebar .widget ul ul {
    border-bottom: 1px solid #DCDFE5;
    border-top: 1px solid #DCDFE5;
    margin: 5px -19px -6px;
    padding: 0;
}
.sidebar .widget ul ul li {
    padding: 5px 18px 5px 36px;
}
.sidebar .widget ul ul ul {
    border-bottom: 1px solid #DCDFE5;
    border-top: 1px solid #DCDFE5;
    margin: 5px -19px -6px -37px;
    padding: 0;
}
.sidebar .widget ul ul ul li {
    padding: 5px 18px 5px 52px;
}
#footer img {
    border: 0 none;
    padding: 0;
}
#footer p {
    color: #DCDCDC;
    display: block;
    font: 11px/16px Arial,Helvetica,sans-serif;
    margin: 0;
}
#footer a {
    color: #DCDCDC;
    text-decoration: none;
}
#footer .menu {
    color: #000000;
    float: left;
}
#footer .menu a {
    color: #000000;
}
#footer .menu .cred {
    color: #DCDCDC;
}
#footer .menu .cred a {
    color: #DCDCDC;
}
#footer .menu .cred a:hover {
    color: #DCDCDC;
}
#footer .annotation {
    float: right;
    text-align: right;
    width: 460px;
}
/*FORM RECHERCHE*/
.formulaire_recherche {
	display: none;
}
#header .formulaire_recherche {
	float: left;
	clear: left;
	display: block;
}
.formulaire_recherche form {
	display: block;
	height: 30px;
	margin: 16px 0;
}
.formulaire_recherche label {
	display: none;
}
.formulaire_recherche input[type="text"] {
	border: 0 none;
	border-radius: 3px 0 0 3px;
	margin: 0;
	padding: 7px 18px;
	width: 197px;
	color: white;
	float: left;
	background: url('img/input-search.png') 0 50% no-repeat;
	font: normal 14px/16px 'Nixie One', sans-serif;
}
.formulaire_recherche input[type="submit"] {
	display:none;
}
/*FIN FORM RECHERCHE*/

div#navigation{
    float: right;
    padding: 0;
    width: 280px;
}
div#slogan_site_spip, div#formulaire_menu_lang{
    float: right;
    color: #000000;
    text-decoration: none;
    font: 26px/29px 'Lucida Grande','Lucida Sans',sans-serif;
    text-transform: uppercase;
}
div#slogan_site_spip{
    margin-top: 71px;
    margin-left: 30px;
}

.sommaire .spip_logos {float: left;}
.sommaire h2 { display: none; }
.hentry{
    background: url("img/bd-footer-wrap.png") repeat-x scroll left bottom transparent;
    margin: 0 0 18px;
    overflow: hidden;
    padding: 18px;
}
div.rubriques h2, div.forums h2, div.syndic_articles h2, div.articles h2, div.mots h2, div.breves h2, div.sites h2, div.groupes_mots h2, div.articles h2, div.auteurs h2, legend{
	color: #2E333F;
    display: block;
    font: bold 10px/20px 'Lucida Grande','Lucida Sans',sans-serif;
    margin: 0 0 0.5em;
    padding: 0;
    text-transform: uppercase;
}
div.rubriques ul, div.forums ul, div.syndic_articles ul, div.mots ul, div.breves ul, div.sites ul, div.groupes_mots ul, div#navigation div.articles ul, div.auteurs ul{
	padding:0;
	border: 1px solid #DCDFE5;
}
div.rubriques ul li ul, div.forums ul li ul, div.syndic_articles ul li ul, div.articles ul li ul, div.mots ul li ul{
	border:none;
}
div.rubriques ul li, div.forums ul li, div.syndic_articles ul li, div.mots ul li, div.breves ul li, div.sites ul li, div.groupes_mots ul li, div#navigation div.articles ul li, div.auteurs ul li{
	border-bottom: 1px solid #DCDFE5;
    border-top: 1px solid #DCDFE5;
    padding: 5px 18px;
    list-style-type: none;
}
div.rubriques ul li ul li, div.forums ul li ul li, div.syndic_articles ul li ul li, div.articles ul li ul li, div.mots ul li ul li, div.breves ul li ul, div.sites ul li ul, div.breves ul li ul li, div.sites ul li ul li{
	border:none;
}
.formulaire_spip{
	#border:1px solid #DCDFE5;
	padding:10px;
}
.widget_search .formulaire_spip{
	border:none;
	padding:0;
}
#comments{
	margin-top:50px;
}
#comments .comment-message{
	border: 1px solid #DCDFE5;
	padding:5px;
	margin:10px 0;
}
h3{
	font-size: 20px;
	margin:3px 0px;
}
/*div.articles ul.liste-items{
	border:none;
}

div.articles ul.liste-items li{
	border:none;
}*/
.page_rubrique img, .page_article img{
	float:right;
}
.page_rubrique img, .page_article div#footer img{
	float:none;
}
.accueil{
	float:left;
}
.hentry{
	margin-bottom: 40px;
}
div.formulaire_recherche, div.formulaire_recherche form{
	border:none;
	padding:0px;
	margin:0;
}
.page_sommaire #middle .content-area{
	float:none;
	width:100%;
}
.page_sommaire .nsquelette #middle .content-area{
	float:left;
	width:650px;
}
.page_sommaire #middle{
	background:none;
}
.page_sommaire #navigation{
	display:none;
}
.page_sommaire .nsquelette #navigation{
	display:block;
	float: right;
}
.page_sommaire #middle-wrap{
	background: none;
}
/*#footbar div.bar-1{
	width:45%;
	float:left;
	margin:0;
}

#footbar div.bar-2{
	width:45%;
	float:right;
	margin:0;
}*/
#footbar{
	background: none;
}

div#featured-projects-wrap{
	margin-bottom: 50px;
}
.widget_socialnet ul {
    display: block;
    height: 16px;
    margin: 0;
    padding: 0;
}
.widget_socialnet ul li {
    border-bottom: 0 none;
    display: block;
    float: left;
    height: 16px;
    margin: 0 0 0 5px;
    padding: 0;
    width: 16px;
}
.widget_socialnet ul li a {
    color: #333333;
    display: block;
    font: 10px/16px 'Lucida Grande','Lucida Sans';
    height: 16px;
    margin: 0;
    padding: 0 0 0 38px;
    text-decoration: none;
    text-indent: -999999px;
    text-transform: uppercase;
    width: 16px;
}
.widget_socialnet ul li a:hover {
    color: #993333;
}
.widget_socialnet ul li.flickr {
    background: url("img/icon-sn-flickr.png") no-repeat scroll left top transparent;
}
.widget_socialnet ul li.facebook {
    background: url("img/icon-sn-facebook.png") no-repeat scroll left top transparent;
}
.widget_socialnet ul li.rss {
    background: url("img/icon-sn-rss.png") no-repeat scroll left top transparent;
}
.widget_socialnet ul li.twitter {
    background: url("img/icon-sn-twitter.png") no-repeat scroll left top transparent;
}
.widget_search form {
    height: 24px;
}
.widget_search label {
    display: none;
}
.widget_search .input {
    display: block;
    margin: 0;
    padding: 0;
}
.widget_search input {
    background: url("img/input-search.png") no-repeat scroll left top transparent;
    border: 0 none;
    color: #979797;
    font: 12px/12px Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 6px 40px 6px 10px;
    width: 182px;
}
.widget_search button {
    display: none;
}
div#copy-left{
	float:right;
}
div.chapo{
	width:80%;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
}
div.introduction{
	float: left;
}
li.on ul li a{
	font-weight: normal;
}
li.on ul li.on a{
	font-weight: bold;
}
.nsquelette a.lire-la-suite{
}
.spip_logos{
	padding: 0px;
	margin-right: 10px;
}
div.meta-publi{
	float: left;
}
.categorie{
      font-variant: small-caps;
}
.boutique{
	display:inline-block;
	}