<plugin>
  <nom>ISTE</nom>
  <version>0.0.0</version>
  <auteur>[Samuel Szoniecky], [d'apr&#232;s le th&#232;me leadescent->http://www.paddsolutions.com/wordpress-theme-leadescent//], [Padd Solutions->http://www.paddsolutions.com/]</auteur>
  <licence>GNU/GPL</licence>
  <slogan>Th&#232;me Z blanc, 2 colonnes</slogan>
  <description>Th&#232;me en deux colonnes, largeur fixe.</description>
  <lien></lien>
  <icon>vignette.jpg</icon>
  <prefix>iste</prefix>
  <etat>stable</etat>
  <necessite id="SPIP" version="[2.0.10;3.0.99]" />
  <utilise id="Z" version="[1.2.0;]" />
  <categorie>theme</categorie>
</plugin>